{% load static extras i18n %}
<!--app-sidebar-->
<div class="sticky">
    <aside class="app-sidebar">
        <div class="app-sidebar__logo">
            <a class="header-brand" href="/">
                <img src="{{app_settings.logo}}" class="header-brand-img desktop-lgo" alt="">
                <img src="{{app_settings.logo}}" class="header-brand-img dark-logo" alt="">
                <img src="{{app_settings.favicon}}" class="header-brand-img mobile-logo" alt="">
                <img src="{{app_settings.favicon}}" class="header-brand-img darkmobile-logo" alt="">
            </a>
        </div>
        <div class="app-sidebar3">
            <div class="main-menu">
                
                <div class="slide-left disabled" id="slide-left">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="#7b8191" width="24" height="24" viewBox="0 0 24 24">
                        <path d="M13.293 6.293 7.586 12l5.707 5.707 1.414-1.414L10.414 12l4.293-4.293z" />
                    </svg>
                </div>

                

                <ul class="side-menu">

                    <li class="slide">
                        <a class="side-menu__item {% if is_dashboard %} active {% endif %}" data-bs-toggle="slide" href="{% url 'core:home' %}">
                            <i class="feather feather-airplay sidemenu_icon"></i>
                            <span class="side-menu__label">Dashboard</span>
                        </a>
                    </li>

                    <li class="slide">
                        <a class="side-menu__item {% if is_stock_create %} active {% endif %}" data-bs-toggle="slide" href="{% url 'masters:stock_create' %}">
                            <i class="feather feather-plus-circle sidemenu_icon"></i>
                            <span class="side-menu__label">Upload Stock</span>
                        </a>
                    </li>

                    <li class="slide">
                        <a class="side-menu__item {% if is_billing_request_list %} active {% endif %}" data-bs-toggle="slide" href="{% url 'stock:billing_request_list' %}">
                            <i class="feather feather-file sidemenu_icon"></i>
                            <span class="side-menu__label">Billing Request</span>
                        </a>
                    </li>

                    {% comment %} <li class="slide">
                        <a class="side-menu__item" data-bs-toggle="slide" href="">
                            <i class="feather feather-airplay sidemenu_icon"></i>
                            <span class="side-menu__label">Block Pending</span>
                        </a>
                    </li> {% endcomment %}

                    <li class="slide">
                        <a class="side-menu__item {% if is_back_order_request_list %} active {% endif %}" data-bs-toggle="slide" href="{% url 'stock:back_order_request_list' %}">
                            <i class="feather feather-box sidemenu_icon"></i>
                            <span class="side-menu__label">Back Order</span>
                        </a>
                    </li>

                    <li class="slide">
                        <a class="side-menu__item {% if is_stock %} active {% endif %}" data-bs-toggle="slide" href="{% url 'masters:stock_list' %}">
                            <i class="feather feather-database sidemenu_icon"></i>
                            <span class="side-menu__label">Stock Report</span>
                        </a>
                    </li>

                    <li class="slide">
                        <a class="side-menu__item {% if is_stock_report_list %} active {% endif %}" data-bs-toggle="slide" href="{% url 'masters:stock_report_list' %}">
                            <i class="feather feather-book sidemenu_icon"></i>
                            <span class="side-menu__label">Stock List</span>
                        </a>
                    </li>

                    <li class="slide">
                        <a class="side-menu__item {% if is_price_list %} active {% endif %}" data-bs-toggle="slide" href="{% url 'masters:price_list' %}">
                            <i class="feather feather-file-text sidemenu_icon"></i>
                            <span class="side-menu__label">Price List</span>
                        </a>
                    </li>
                    

                </ul>

                <div class="slide-right" id="slide-right">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="#7b8191" width="24" height="24" viewBox="0 0 24 24">
                        <path d="M10.707 17.707 16.414 12l-5.707-5.707-1.414 1.414L13.586 12l-4.293 4.293z" />
                    </svg>
                </div>
            </div>
        </div>
    </aside>
</div>