{% extends 'app/base.html' %}
{% load static i18n crispy_forms_tags django_tables2 %}
{% block title %}{{title|title}} : {{app_settings.site_title}}{% endblock %}

{% block content %}

{% if invoice %}
<div class="side-app main-container detail_page">

  <!-- Row-->
  <div class="row mt-5">
    {% block invoice_mini_list %}
    {% include 'app/partials/invoice_mini_list.html' %}
    {% endblock %}
  </div>
  <!-- End Row-->

  <div class="row row-sm">
    <div class="col-lg-12">

      <div class="card">
        {% if booking_invoice_document_table.paginated_rows %}
        <div class="card-body p-0">
          <div class="table-responsive">
            {% render_table booking_invoice_document_table %}
          </div>
        </div>
        {% else %}
        <div class="card-body">
           {% translate "No Documents So Far" %}
        </div>
        {% endif %}
      </div>
    </div>
  </div>
 
  <div class="row">
    <div class="col-12 mx-auto">
      <div class="card">
        <div class="card-header border-bottom-0">
          <h5 class="mb-0">{{title}}</h5>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-lg-12 col-md-12">
              <form class="form-horizontal" method="post" autocomplete="off" enctype="multipart/form-data" action=""
                enctype="multipart/form-data">
                {% csrf_token %}
                <div class="d-none">
                  {{ form }}
                </div>
                <div class="col-12 my-3">
                  {{ booking_invoice_document_formset.management_form }}
                  <table class="table w-100 ">
                    <thead>
                      <tr>
                        <th>Document Name</th>
                        <th>Document File</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for form in booking_invoice_document_formset.forms %}
                      <tr class="form_row">
                        {% for hidden in form.hidden_fields %}
                        {{ hidden }}
                        {% endfor %}
                        <td>
                          {{ form.document_name }}
                          {{ form.document_name.errors }}
                        </td>
                        <td>
                          {{ form.document }}
                          {{ form.document.errors }}
                        </td>
                        <td style="vertical-align: middle;">{{ form.DELETE }}</td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>

                <div class="my-4">
                  <div class="form-group mb-0">
                    <button type="submit" class="btn btn-primary me-2">{% translate "Save" %}</button>
                    <button type="button" onclick="history.back()" class="border btn btn-outline-grey">
                      {% translate "Cancel" %}</button>
                  </div>
                </div>
              </form>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

</div>




{% endif %}

{% include 'app/partials/filter.html' %}
{% include 'app/partials/help.html' %}

{% endblock content %}

{% block js_plugins %}
<script src="{% static 'app/js/formset/formset.js' %}"></script>
<script>
  $(document).ready(function () {
    $('.form_row').formset({
      addText: '<span>Add Document</span>',
      deleteText: '<i class="fa-solid fa-xmark"></i>',
      prefix: '{{ booking_invoice_document_formset.prefix }}',
      formCssClass: 'form_row',
      added: function (row) {

      },
      removed: function (row) {
        // Handle additional logic after removing a form
      }
    });
  });

</script>
{% endblock js_plugins %}