{% extends 'app/base.html' %}
{% load static i18n crispy_forms_tags django_tables2 %}
{% block title %}{{title|title}} : {{app_settings.site_title}}{% endblock %}

{% block content %}

{% if invoice %}
<div class="side-app main-container detail_page">

  <!-- Row-->
  <div class="row mt-5">

    {% block invoice_mini_list %}
    {% include 'app/partials/invoice_mini_list.html' %}
    {% endblock %}

  </div>
  <!-- End Row-->


  <div class="row row-sm">
    <div class="col-lg-12">

      <div class="card">
        {% if table.paginated_rows %}
        <div class="card-body p-0">
          <div class="table-responsive">
            {% render_table table %}
          </div>
        </div>
        {% else %}
        <div class="card-body">
           {% translate "No Invoice Discount So Far" %}
          {% if can_add %}<a href="{{new_link}}">{% translate "Add New One" %}</a>{% endif %}
        </div>
        {% endif %}
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 mx-auto">
      <div class="card">
        <div class="card-header border-bottom-0">
          <h5 class="mb-0">{{ title }}</h5>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-lg-12 col-md-12">
              <form class="form-horizontal" method="post" autocomplete="off" enctype="multipart/form-data" action=""
                enctype="multipart/form-data">
                {% csrf_token %}
                
                <table class="table form_set_table">
                  <thead>
                    <tr>
                      <th width="20%">Accessory Type</th>
                      <th width="30%">Accessory Name</th>
                      <th width="20%">Payment Type</th>
                      <th width="30%">Amount</th>
                      <th width=""></th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for subform in form %}
                    <tr class=" form_set_row ">
                      {{ subform.id }}
                      <td style="vertical-align: middle; padding: 5px 10px;">
                        {{ subform.accessory_type }}
                      </td>
                      <td style="vertical-align: middle; padding: 5px 10px;">{{ subform.accessory_name }}</td>
                      <td style="vertical-align: middle; padding: 5px 10px;">{{ subform.payment_type }}</td>
                      <td style="vertical-align: middle; padding: 5px 10px;">{{ subform.amount }}</td>
                      <td style="vertical-align: middle;"></td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              
                <div class="my-4">
                  <div class="form-group mb-0">
                    <button type="submit" class="btn btn-primary me-2">{% translate "Save" %}</button>
                    <button type="button" onclick="history.back()" class="border btn btn-outline-grey">
                      {% translate "Cancel" %}</button>
                  </div>
                </div>
                {{ form.management_form }}
                {{form.media}}
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
{% else %}

<div class="side-app main-container detail_page">

  <div class="row mt-5">
  <!-- Opportunity update -->
    <div class="row">
      <div class="col-12 mx-auto">
        <div class="card">
          <div class="card-header border-bottom-0">
            <h5 class="mb-0">Opportunity Follow Up Update</h5>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-lg-12 col-md-12">
                <form class="form-horizontal" method="post" autocomplete="off" enctype="multipart/form-data" action=""
                  enctype="multipart/form-data">
                  {% csrf_token %}
                  {{form|crispy}}
                  <div class="my-4">
                    <div class="form-group mb-0">
                      <button type="submit" class="btn btn-primary me-2">{% translate "Save" %}</button>
                      <button type="button" onclick="history.back()" class="border btn btn-outline-grey">
                        {% translate "Cancel" %}</button>
                    </div>
                  </div>
                </form>
              </div>

            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>

{% endif %}

{% include 'app/partials/filter.html' %}
{% include 'app/partials/help.html' %}

{% endblock content %}



{% block js_plugins %}
<script src="{% static 'app/js/formset/formset.js' %}"></script>
<script>
    $(document).ready(function () {
    $(' table tr.form_set_row').formset({
      prefix:'{{form.prefix}}',
      addText: '<span>Add Accessories</span>',
      formCssClass: 'dynamic-formset1',
      'added' : function (row) {
        $('.form_set_table tbody').prepend($('.form_set_table tbody .dynamic-formset1-add'));
      }
    })
    $('.form_set_table tbody').prepend($('.form_set_table tbody .dynamic-formset1-add'));
    
  })
  $(document).on('click','.form_set_row .icon-trash', function(){
      var $this = $(this);
      $parent_table = $this.parents('table');
      var length = $parent_table.find('tr').length;
      if(length > 3){
        $this.parents('tr').remove();
      }
    });
    $('.add_item_container .icon_add_item').click(function(){
      var $nearTable = $(this).parents('.add_item_container').find('table');
      var $second_last_tr = $nearTable.find('tr:nth-last-child(2)');
      var rowTemp = $nearTable.find('tr:nth-last-child(2)').html();
      $second_last_tr.after('<tr class="form_set_row">' + rowTemp + '</tr>');
      $second_last_tr.find('tr:last-child input').removeAttr('id');
    });
</script>

{% endblock js_plugins %}

