<div class="col-lg-12">
    {% if opportunity %}
    <div class="card content_card">
        <div class="card-header">
          <div class="card-title d-flex align-items-center w-100">
            <h5 class="mb-0">{{opportunity.customer_name}}</h5>
          </div>
        </div>
        <div class="card-body p-0">
          <div class="table-responsive">
            <table class="table table-hover info_table mb-0" style="width:100%;">
              <tbody>
                <tr>
                    <td> <strong>Name</strong> </td>
                    <td>{{opportunity.customer_name}}</td>

                  <td> <strong>Interested Vehicle</strong> </td>
                  <td>{{opportunity.vehicle_interested}}</td>
                </tr>

                <tr>
                    <td> <strong>Mobile 1 </strong> </td>
                    <td>{{opportunity.phone_1|default:"-"}}</td>

                    <td> <strong>Mobile 2</strong> </td>
                    <td>{{opportunity.phone_2|default:"-"}}</td>
                </tr>

                <tr>
                    <td> <strong>Lead Source</strong> </td>
                    <td>{{opportunity.opportunity_source}}</td>
  
                    <td> <strong>Initial Remark</strong> </td>
                    <td>{{opportunity.initial_remark}}</td>
                </tr>

                <tr>
                  <td> <strong>Attended By</strong> </td>
                  <td>{{opportunity.attended_by}}</td>

                  <td> <strong>Remark By Tellecaller</strong> </td>
                  <td>{{opportunity.remark_by_tellecaller}}</td>
                </tr>

                <tr>
                    <td> <strong>Expected Buying Date</strong> </td>
                    <td>{{opportunity.expected_buying_date}}</td>
  
                    <td> <strong>Remark</strong> </td>
                    <td>{{opportunity.remark}}</td>
                  </tr>

               

               

              </tbody>
            </table>
          </div>
        </div>

      </div>
    {% else %}
    <div class="card content_card">
      <div class="card-body">
        <p class="text-center">There is nothing here</p>
      </div>
    </div>
    {% endif %}
  </div>